.theme-background {
	color: var(--clr-light);
	background-color: var(--clr-theme);

	h1 ::selection {
		color: var(--clr-theme);
		background-color: var(--clr-light);
	}
}

.content {
	display: flex;
	margin: 0 auto;
	max-width: 960px;
	padding: 1.45rem 1.0875rem;

	h1 {
		margin: 0;
		font-size: 1.6em;
		margin-right: auto;

		sup {
			font-size: 0.65em;
			opacity: 0.9;
		}
	}
}
